/* MEDIA QUERIES PANTALLA */
@media (max-width: 768px) {
  #introduccion {
    width: 90%;
  }

  .card {
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  footer {
      font-size: 14px;
  }

  @media (max-width: 576px) {
    footer {
        font-size: 12px;
    }
}